*{
    box-sizing: border-box;
}
body{
    font-family: Roboto,Arial,sans-serif;
    line-height: 1.4;
    font-size: 14px;
    background-color: #f1f3f6;
}
.content{
    padding: 24px 32px;
    background-color: white;
    height: 100%;
    min-height: 600px;
}
.edit{
    color: blue;
    cursor: pointer;
    font-weight: 500; 
}
.header{
    font-size: 18px;
    font-weight: 550;
    padding-right: 24px;
}
.sidebar{
    background-color: white;
}
.padding{
    padding-left: 15px;
    padding-right: 15px;
}
form{
    padding-bottom: 56px;
}
.info{
    padding-bottom: 24px;
}
.inputStyle{
    background-color: #fafafa;
    padding: 16px;
    color: #878787;
    border: 1px solid gray;
    border-radius: 2px;
    margin-right: 24px ;
}
.well{
    background-color: #fff;
}
.box{
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 16px 0 16px 10px;
}
.address{
    padding: 20px;
    background-color: #f5faff;
    position: relative;
}
textarea:focus + label{
    transform: translateY(-20%)scale(0.815);
    padding: 18px 0 0 15px;
}
input:focus + label{
    transform: translateY(-15%)scale(0.815);
    padding: 18px 0 0 15px;
}
label{
    position: absolute;
    left: 0px;
    top: 0px;
    transform-origin: left top 0px;
    padding: 18px 20px 0 20px;
    font-size: 14px;
    pointer-events: none;
    width: 100%;
    transition: transform 0.2s ease;
    color: #878787;
}
.inputs{
    margin-bottom: 10px;
    position: relative;
    
}
.flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.forms{
    margin-top: 16px;
    width: 570px;
}
.increaseWidth{
    width: 280px;
}
.radio{
    padding-left: 13px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.verticalCenter{
    display: flex;
justify-content: center; /* align horizontal */
align-items: center;
}